# ------------------------------------------------------------
# Build artifacts
# ------------------------------------------------------------
build/
dist/

# ------------------------------------------------------------
# Python
# ------------------------------------------------------------
__pycache__/
*.egg
*.egg-info/
.mypy_cache/
.pytest_cache/